//===FONT===
$font :'Montserrat', sans-serif;

//===FONT SIZES ===
$small-text : 0.9rem;
$normal-text : 1rem;
$warning-text : 0.7rem;

//===FONT WEIGHT ===
$text-bold : 700;

//===INPUT WIDTH===
$input-width : 500px;


//===Box-props===
$border : 1px solid black;
$radius : 5px;
$padding : 10px;
$box : border-box;
$margin : 10px;


$logo-size : 100px;
$color : #023f88;
$error-color : red;